
@font-face {
    font-family:'Helvetica Neue';
    src: url('Helvetica Neue.eot');
	src: url('Helvetica Neue.eot?#iefix') format('embedded-opentype'),
		url('Helvetica Neue.woff2') format('woff2'),
		url('Helvetica Neue.woff') format('woff'),
		url('Helvetica Neue.svg#Helvetica Neue') format('svg');
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF; 
}

@font-face {
    font-family:'Helvetica Neue';
    src: url('Helvetica Neue Bold.eot');
	src: url('Helvetica Neue Bold.eot?#iefix') format('embedded-opentype'),
		url('Helvetica Neue Bold.woff2') format('woff2'),
		url('Helvetica Neue Bold.woff') format('woff'),
		url('Helvetica Neue Bold.svg#Helvetica Neue Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}