.banner_content{
  margin-top:20px;
  overflow:hidden;
  @media(min-width:960px){
    margin-top:100px;
  }
}
  div#slide {
      width: 100%;
      margin: 0 auto;
      overflow: visible;
      position: relative;
      color:#fff;
      .slid{
        display: flex;
        flex-wrap: wrap;
        ul {
          list-style:none;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          @media(min-width:1100px){
            max-height:510px;        
            width:auto;
          }
        }
        .caption {
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          z-index: 3;
          @media(min-width:1100px){
            white-space: nowrap;
            width:160px;
          }
          h2 {
            font-size: 62px;
            line-height: 75px;
            font-weight: 700;
            margin-bottom: 12px;
            margin-top: 0;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-name: bounce;
            @media(min-width:1100px){
              margin-top: 70px;
            }
          }
          span {
            font-size: 22px;
            font-weight: bold;
            line-height: 29px;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-name: bounceInLeft;
            &.icon-ArrowRed {
              margin-left: 6px;
              display: inline-block;
            }
          }
          a {
            font-size: 18px;	
            line-height: 28px;
            color:$red;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-name: bounceInLeft;
            @media(min-width:1100px){
              margin-top:60px;
            }
            &:hover{
              opacity:0.8;
            }
          }
        }
        .location {
          flex: 100%;
          text-align: right;
          @media(min-width:768px){
            margin-right: 65px;
          }
          ul {
            display:flex;          
            justify-content: flex-end;
            padding:0;

            li {
              font-size: 16px;
              line-height: 28px;
              a {
                font-size:16px;
                line-height:28px;
                font-weight: bold;
                margin-right: 21px;
                padding-right: 21px;
                border-right: 1px solid #fff;
                span {
                  display:inline-block;
                  @media(min-width:409px){
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
        .social_net {
          position: absolute;
          top: 50%;
          right:0;
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-name: bounceInRight;
          @media(min-width:1100px){
            right: -70px;
          }
          ul {
            li {
              a{
                display:inline-block;
                margin-bottom: 13px;
                &:hover{
                  opacity:0.8;
                } 
              }
            }
          }
        }
      }
    }
    .arrow {
      display: block;
      position: absolute; 
      top: 43%;
      &.icon-HeroSlider-ArrowLeft {
        left:0;
        @media(min-width:1100px){        
          left:-60px;
        }
      }
      &.icon-HeroSlider-ArrowRight {
        right:0;
        @media(min-width:1100px){        
          right:-60px;
        }
      }
      &:hover{
        opacity:0.8;
      }
    }
    .preload {
        height: 100%;
        position: absolute;
        width: 100%;
        background: transparent;
        z-index: 5;
        .spinner {
          margin: 100px auto;
          width: 50px;
          height: 40px;
          text-align: center;
          font-size: 10px;
          > div {
            background-color: #333;
            height: 100%;
            width: 6px;
            display: inline-block;
            -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
            animation: sk-stretchdelay 1.2s infinite ease-in-out;
          }
          .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
          }
          .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
          }
          .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
          }
          .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
          }
        }
    
        @-webkit-keyframes sk-stretchdelay {
          0%, 40%, 100% {
            -webkit-transform: scaleY(0.4);
          }
    
          20% {
            -webkit-transform: scaleY(1);
          }
        }
    }
    @keyframes sk-stretchdelay {
      0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      }
    
      20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
      }
    }    

    @keyframes bounceInRight {
      from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
    
      from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
      }
    
      60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
      }
    
      75% {
        transform: translate3d(10px, 0, 0);
      }
    
      90% {
        transform: translate3d(-5px, 0, 0);
      }
    
      to {
        transform: none;
      }
    }

  
    @keyframes bounce {
      from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
      }
    
      40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
      }
    
      70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
      }
    
      90% {
        transform: translate3d(0,-4px,0);
      }
    }


@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}