
       <!-- Related videos content -->
       <section id="related_videos">
            <div class="container">
                <h4>
                        Latest Other Videos
                </h4> 
                <div class="row one_row">
                    <article class="col-sm-12 col-md-12 col-lg-4">
                        <div class="warpper_article">
                            <span>
                                TEDTalk
                            </span>
                            <div class="title_card">
                                <i class="icon-PlaySmall"></i>
                                <span>"A New Kind of Job Market"</span>
                                <span>23:34</span>
                            </div>
                            <div class="mask">
                                <img src="images/Avatar.png" alt="Rowan avatar">
                                <h5>Wingham Rowan</h5>
                                <p>Plenty of people need jobs with...</p>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-12 col-md-12 col-lg-4">
                        <div class="warpper_article">
                            <span>
                                Education
                            </span>
                            <div class="title_card">
                                <i class="icon-PlaySmall"></i>
                                <span>"A School in the Cloud"</span>
                                <span>23:34</span>
                            </div>
                            <div class="mask">
                                <img src="images/Avatar.png" alt="Rowan avatar">
                                <h5>Wingham Rowan</h5>
                                <p>Plenty of people need jobs with...</p>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-12 col-md-12 col-lg-4">
                        <div class="warpper_article">
                            <span>
                                Technology
                            </span>
                            <div class="title_card">
                                <i class="icon-PlaySmall"></i> 
                                <span>"Artificial Intelligence"</span>
                                <span>23:34</span>
                            </div>
                            <div class="mask">
                                <img src="images/Avatar.png" alt="Rowan avatar">
                                <h5>Wingham Rowan</h5>
                                <p>Plenty of people need jobs with...</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row two_row">
                    <article class="col-sm-12 col-md-12 col-lg-4">
                        <div class="warpper_article">
                            <span>
                                Design
                            </span>
                            <div class="title_card">
                                <i class="icon-PlaySmall"></i>
                                <span>"Matching the human mind"</span>
                                <span>23:34</span>
                            </div>
                            <div class="mask">
                                <img src="images/Avatar.png" alt="Rowan avatar">
                                <h5>Wingham Rowan</h5>
                                <p>Plenty of people need jobs with...</p>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-12 col-md-12 col-lg-4">
                        <div class="warpper_article">
                            <span>
                                Science 
                            </span>
                            <div class="title_card">
                                <i class="icon-PlaySmall"></i>
                                <span>"exploring New Territories"</span>
                                <span>23:34</span>
                            </div>
                            <div class="mask">
                                <img src="images/Avatar.png" alt="Rowan avatar">
                                <h5>Wingham Rowan</h5>
                                <p>Plenty of people need jobs with...</p>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-12 col-md-12 col-lg-4">
                        <div class="warpper_article">
                            <span>
                                Education
                            </span>
                            <div class="title_card">
                                <i class="icon-PlaySmall"></i>
                                <span>"urgan Connectors"</span>
                                <span>23:34</span>
                            </div>
                            <div class="mask">
                                <img src="images/Avatar.png" alt="Rowan avatar">
                                <h5>Wingham Rowan</h5>
                                <p>Plenty of people need jobs with...</p>
                            </div>
                        </div>
                    </article>
                    
                </div>  
                <div class="row three_row">
                    <div class="col-sm-12 col-md-12">
                        <a href="#">Show More <i class="icon-PlayRed"></i></a>
                    </div>
                </div>
           </div>   
        </section>