<!-- About content -->
        <section id="about">            
            <div class="container">
                <article>
                    <h2>
                        About TEDxHamburg  
                    </h2>
                    <h3>This independent TEDx event is operated under license from <span>TED</span>.</h3>
                    <p>TED is a nonpartisan nonprofit devoted to spreading ideas, usually in the form of short, powerful talks. TED began in 1984 as a conference where Technology, Entertainment and Design converged, and today covers almost all topics from science to business to global issues — in more than 110 languages. Meanwhile, independently run TEDx events help share ideas in communities around the world.</p>
                </article> 
            </div>           
        </section>
    </main>
