
<!-- Footer -->
    <footer>
        <ul>
            <li><a href="" class="icon-Facebook"></a></li>
            <li><a href="" class="icon-Tumblr"></a></li>
            <li><a href="" class="icon-Youtube"></a></li>
            <li><a href="" class="icon-Flickr"></a></li>
        </ul>
        <div class="extra_footer_text">
            This independent TEDx event is operated under license from <span>TED</span>.
        </div>
        <div class="extra_footer_partners">
            <span>
                Check our partners:
            </span>
            <ul>
                <li>
                    <a href="http://www.tedxberlin.de/" taget="_blank">
                        <i class="icon-Berlin"></i>
                    </a> 
                </li>
                <li>
                    <a href="http://www.tedxmuenchen.de/" target="_blank">
                        <i class="icon-Munchen"></i>
                    </a> 
                </li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="js/app-min.js"></script>
</body>
</html>